NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://mini_crm:mini_crm_password@localhost:5432/mini_crm?schema=public"
JWT_SECRET="change_me_min_16_chars"
JWT_EXPIRES_IN="1d"
WEBHOOK_SECRET="change_me_webhook"
